<% layout('layouts/boilerplate') -%>
<div class="flex flex-col">
  <h1 class="text-center text-9xl font-black text-dark">Oops!</h1>
  <p class="mt-8 px-0 text-center text-xl font-bold md:px-64">
    <%= err.statusCode %> - <%= err.message %>
  </p>
  <p class="mt-2 px-16 text-center text-xs">
    This page you are looking for might have been removed <br />
    had its name changed or is temporarily unavailable.
  </p>
  <a
    href="/campgrounds"
    class="mx-auto mt-4 rounded-full bg-blue-600 px-3 py-2 font-medium text-white shadow-2xl"
    >GO TO HOME PAGE</a
  >
  <% if (process.env.NODE_ENV !== "production") { %>
  <p class="mt-5"><%= err.stack %></p>
  <% } %>
</div>
