<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp</title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex h-[100vh] w-full flex-col justify-between bg-dark py-4">
    <nav class="mx-auto flex w-[60vw] items-center justify-between">
      <div>
        <a href="/" class="mr-2 text-xl font-semibold text-white">YelpCamp</a>
      </div>
      <div class="text-white">
        <% if(!currentUser){ %>
        <a
          href="/campgrounds"
          class="mr-4 opacity-50 transition duration-150 ease-in hover:underline hover:opacity-100"
          >Campgrounds</a
        >
        <a
          href="/login"
          class="mr-4 opacity-50 transition duration-150 ease-in hover:underline hover:opacity-100"
          >Login</a
        >
        <a
          href="/register"
          class="opacity-50 transition duration-150 ease-in hover:underline hover:opacity-100"
          >Register</a
        >
        <% } else { %>
        <div class="flex gap-x-2">
          <a
            href="/"
            class="50ms mr-4 underline opacity-100 transition duration-150 ease-in"
            >Home</a
          >
          <a
            href="/campgrounds"
            class="50ms mr-4 opacity-50 transition duration-150 ease-in hover:underline hover:opacity-100"
            >Campgorunds</a
          >
          <a
            href="/logout"
            class="50ms opacity-50 transition duration-150 ease-in hover:underline hover:opacity-100"
            >Logout</a
          >
        </div>
        <% } %>
      </div>
    </nav>

    <main class="mx-auto w-[60vw] text-center text-white">
      <a href="/" class="text-4xl font-semibold">YelpCamp</a>
      <div class="mb-6 mt-4">
        <p>Welcome to YelpCamp!</p>
        <p class="mt-1">
          Jump right in and explore our many campgrounds. <br />
          Feel free to share some of your own and comment on others!
        </p>
      </div>
      <a
        href="/campgrounds"
        class="rounded-lg border border-white px-4 py-2 font-semibold text-white transition duration-150 ease-in hover:bg-white hover:text-[#333]"
        id="getStarted"
        >Get Started</a
      >
    </main>

    <footer>
      <p class="text-center font-medium text-gray-500">&copy;2023</p>
    </footer>
  </body>
</html>
