<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Product</title>
  </head>
  <body>
    <h1>Add Product for <%= farm.name %></h1>
    <form action="/farms/<%= farm._id %>/products" method="POST">
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" />
      </div>
      <div>
        <label for="category">Select Category</label>
        <select name="category" id="category">
          <% for(let category of categories){ %>
          <option value="<%= category %>"><%= category %></option>
          <% } %>
        </select>
      </div>
      <button type="submit">Add Product</button>
    </form>
    <a href="/farms">All Farms</a>
  </body>
</html>
