<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Farm</title>
  </head>
  <body>
    <h1>Add Farm</h1>
    <form action="/farms" method="POST">
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="name">City:</label>
        <input type="text" name="city" id="city" />
      </div>
      <label for="name">Email:</label>
      <input type="email" name="email" id="email" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
