<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up!</h1>
    <form action="register" method="POST">
      <div>
        <label for="username">Enter Username</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="username"
        />
      </div>
      <div>
        <label for="password">Enter Username</label>
        <input
          type="text"
          name="password"
          id="password"
          placeholder="password"
        />
      </div>
      <button type="submit">Register</button>
    </form>
  </body>
</html>
